run = "echo \"Replit should automatically serve index.html, no command needed.\""

[deployment]
run = ["sh", "-c", "echo \"Replit should automatically serve index.html, no command needed.\""]

[nix]
channel = "stable-24_05"
