run = "python3 -m http.server 8000"
entrypoint = "index.html"
modules = ["python-3.11"]

[nix]
channel = "stable-22_11"

[deployment]
deploymentTarget = "static"
publicDir = "/"

[[ports]]
localPort = 8000
externalPort = 80

[agent]
expertMode = true
